@charset "utf-8";

#twitter-view-limited {
    padding-right: 1%;
}

#main {
    background-color: #fffaf0;
    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
}

#mainInput {
    width: 100px;
}
